@{
    ViewData["Title"] = "Team";
} 

<h1 class="about-h1">About Us:</h1>
<div class="about-h3s">
    <h3 class="about-h3">Adibas is a company founded in Vanuatu. Our main goal is to bring happiness to our customers by giving them a chance to earn money by using our shoes. </h3>
    <h3 class="about-h3">We ship the shoes to ANY country of the world using our fast and reliable pigeons. Pigeons are developed a specific way which makes sure that our clients receive their goods in less than 2 months (not guaranteed). </h3>
    <h3 class="about-h3">Adibas branded shoes have a built-in tracking system which counts the time that the owner has spent wearing the shoes (and also collects thorough information about the private life of the customer) and generates appropriate amount of SCAM-Coin.</h3>
    <h3 class="about-h3">Our team wishes you happy days!</h3>
</div>