@{
    ViewData["Title"] = "Shoes";
} 

<div class="shoe-collection-container">

<div class="shoe-container">
    <img class="shoe" src="~/images/yikes.png" alt="thomas crocs">
    <h3 class="about-h3">Thomas the Tank Engine themed crocs are the lowest tier of our products. They do look good, but they do not generate as much SCAM-Coins as other footwear. Despite all that the generation of respect throughout other people is immense, therefore, the crocs are most definitely worth purchasing.  </h3>
</div>

<div class="shoe-container">
    <img class="shoe" src="~/images/medium.png" alt="decent adibas">
    <h3 class="about-h3">The “vanilla” Adibas sneakers are one of the most popular choices of our buyers. The generation of SCAM-Coins is quite decent, and the sneakers look absolutely fabulous. They can be worn in an everyday environment or when working out.</h3>
</div>

<div class="shoe-container">
    <img class="shoe" src="~/images/chad.png" alt="flying footwear">
    <h3 class="about-h3">Last but most definitely not the least are the “swimmers”. These Adibas shoes pose unimaginable power for people that is better to be avoided. The generation rate of SCAM-Coins is enormous but even if that is taken out of the picture, the shoes literally give you the ability to walk on the water. </h3>
</div>
</div>