@{
    ViewData["Title"] = "Team";
} 

<h1 class="team-h1">Team Members:</h1>
    <h3 class="team-h3">CEO OF ADIBAS:</h3>
    <div class="about-h3s">
        <h3 class="about-h3 team-h3-width">The team of Adibas consists only of a single person, CEO of Adibas, Dr.Money Scamdroll.  Dr.Scamdroll came up with the idea in 1980 and has been working on it ever since! He has brought only the great to the company and most definitely has not scammed anyone through the service of Adibas. </h3>
        </div>
    <img class="ceo" src="~/images/ceo.png" alt="CEO OF ADIBAS">
