* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    background-image: url('../images/Adibas.jpg');
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #F5EBDA;
    font-family: 'Vollkorn SC', serif;
}

.center-h3 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #F5EBDA;
    font-family: 'Mate', serif;
}

.action-container {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.shoes-container, .money-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-h1 {
    font-size: 2.1em;
    margin: 1em;
    text-align: center;
    color: #F5EBDA;
    font-family: 'Vollkorn SC', serif;
}

.about-h3 {
    font-size: 17px;
    margin: 30px;
    text-align: center;
    color: #F5EBDA;
    font-family: 'Mate', serif;
    padding: 15px 20px;
    background-color: rgb(29, 31, 53);
    border-radius: 30px;
}

.team-h1 {
    text-align: center;
    color: #F5EBDA;
    font-family: 'Vollkorn SC', serif;
}

.team-h3 {
    font-size: 1.6em;
    text-align: center;
    color: #F5EBDA;
    font-family: 'Mate', serif;
}


.shoe-collection-container {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shoe-container {
    display: flex;
    align-items: center;
}


.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left {
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}


.field {
    font-family: 'Mate', serif;
    width: 100%;
    border: 2px solid rgb(29, 26, 26);
    outline: none;
    background-color: rgba(20, 18, 18, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    border-radius: 30px;
    color: white;
}

    .field:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
    }

textarea {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #7bb5f8c7;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    background-color: #7bb5f8c7;
    padding: 12px 30px;
    border-radius: 30px;
    color: #ffffff;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
}

    .btn:hover {
        background-color: #7bb5f8c7;
        transform: scale(1.3);
        cursor: pointer;
    }

.field:focus {
    background-color: rgb(42, 41, 46);
    color: white;
}

#msgbox {
    min-height: 150px;
}

.text-danger {
    color: #F5EBDA;
    font-family: 'Mate', serif;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-h3 {
    color: white;
    margin: 1em;
}

.contact-h3-text {
    color: white;
    margin: 1em;
}