header {
    width: 100%;
}

nav {
    height: 0;
    width: 100%;
    background-image: linear-gradient(#00000099, #00000099);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: #ffffff;
    font-size: 28px;
    font-family: 'Vollkorn SC', serif;
}


.nav-nav .nav-ul .nav-li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

    .nav-nav .nav-ul .nav-li .nav-a {
        color: #ffffff;
        text-decoration: none;
        font-family: 'Vollkorn SC', serif;
        font-weight: bold;
    }

        .nav-nav .nav-ul .nav-li .nav-a:hover {
            color: #7bb5f8c7;
        }

button {
    border: none;
    background-color: #7bb5f8c7;
    padding: 12px 30px;
    border-radius: 30px;
    color: #ffffff;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    transition: 0.4s;
}

    button:hover {
        transform: scale(1.3);
        cursor: pointer;
    }

#time:hover {
    color: #ffffff;
}
